
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared.cshtml";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/Custom/home.js"></script>
<script type="text/javascript">
    home.createPossitionTable();
</script>
<div>
    <table>
        <tr>
            <td>Pos</td>
            <td>Equipo</td>
            <td>Pts</td>
            <td>Pj</td>
            <td>G</td>
            <td>E</td>
            <td>P</td>
            <td>GA</td>
            <td>GP</td>
            <td>Dif.</td>
        </tr>
    </table>
</div>